{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-5 fw-bold">Welcome Trainer!</h1>
    <p class="col-md-8 fs-4">A new Pokémon tournament is coming soon and you must create a strong team to
        try to excel at the competition!</p>
    <a href="/team/create" class="btn btn-primary btn-lg" type="button">Create new team</a>
    <a href="/team/list" class="btn btn-primary btn-lg" type="button">List of teams</a>
{% endblock %}
